* {
    box-sizing:border-box;
}

div{
    height:150px;
    margin : 8px;
    padding: 8px;
    font-family: Palatino;
    /* se inserta un  valor de 240px a la propiedad width para que puede ajustar los elementos YELLOW y BLACK ,
según la vista a replicar */
    width: 240px ;
}

.yellow{
    background: rgb(224, 174, 9);
}

.black{
    background-color: #1a1b1d;
    color:white;
}